:root {
    --primary-color: #1D1E1E;
    /*eerie black*/
    --secondary-color: #224F0E;
    /*cal poly green*/
    --accent1-color: #FEFEFE;
    /*white*/
    --accent2-color: #855A28;
    /*coyote*/
    --heading-font: "Comfortaa", sans-serif;
    --paragraph-font: "Tajawal", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
article,
p,
section {
    margin: 16px;
    padding: 8px;
}

/*.social a {
    text-decoration: none;
}*/

.hero {
    position: relative;
}

.hero>img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    width: 100%;
    top: 25px;
    padding: 15px;
    /*text-align: center;*/
    opacity: 90%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    box-sizing: 2px;
    display: grid;
    grid-column: 1;

}

.hero article {
    position: absolute;
    right: 0;
    width: 25%;
    background-color: var(--secondary-color);
    padding: 0px;
    color: var(--accent1-color);
    border: 5px;
    border-color: var(--accent1-color);
    box-shadow: #FEFEFE;
}

.hero article img {
    width: 100px;
    border-image: 1p;
    border-color: var(--secondary-color);
}

.hero article p {
    margin: 16px;
    padding: 8px;
    color: var(--accent1-color);
}

.social img {
    width: 20px;
    grid-column: 3;
}

.social {
    grid-column: 3em;
    justify-self: end;
}

/*.adventure {
    text-align: center;
    width: 115px;
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
}*/

.costumer img {
    position: relative;
    border: 2rem;
    border-color: var(--accent1-color);
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
}

nav