:root {
    --primary-color: #1D1E1E;
    /*eerie black*/
    --secondary-color: #224F0E;
    /*cal poly green*/
    --accent1-color: #FEFEFE;
    /*white*/
    --accent2-color: #855A28;
    /*coyote*/
    --heading-font: "Comfortaa", sans-serif;
    --paragraph-font: "Tajawal", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
article,
p,
section {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero>img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    width: 100%;
    top: 15px;
    padding: 15px;
    opacity: 90%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    box-sizing: border-box;
    display: grid;
    grid-column: 1;
    justify-content: center;

}

.hero article {
    position: absolute;
    left: 1.6rem;
    top: 15rem;
    width: 90%;
    background-color: var(--secondary-color);
    padding: 0px;
    color: var(--accent1-color);
    border: 0;
    border-color: var(--accent1-color);
    opacity: 90%;
}

.hero article img {
    width: 5rem;
    float: right;
    justify-items: center;
    margin: 7px;
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;

}

.hero article p {
    margin: 21px;
    padding: 8px;
    color: var(--accent1-color);
    width: 80%;
    justify-content: center;

}

.social img {
    width: 20px;
    grid-column: 3;
}

.social {
    grid-column: 3;
    justify-self: end;
}

.costumer img {
    position: relative;
    border: 2rem;
    border-color: var(--accent1-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent1-color);
    margin-top: 100px;
}

header {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    display: flex;
    color: var(--accent1-color);
    padding: 1em;
    margin: -0.14rem;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    margin: 50px 0;
}

.history h2,
.adventure h2 {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 1px 0px;
}

.history-section>h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    padding-bottom: 1rem;
}

.adventure {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
    width: 150px;
}

figure {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    align-self: center;
}

figcaption {
    text-align: center;
    padding: 1em 0;
}

footer p {
    color: var(--primary-color);
}



.info {
    display: grid;
    grid-column: 1;
    grid-template-rows: 2rem 3rem 3rem 4rem 7rem;
    position: absolute;
    left: 0rem;
    box-sizing: border-box;
    width: 47%;
    height: 20rem;
    background-color: var(--accent2-color);
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: var(--accent1-color);
}

.info h2 {
    background-color: var(--accent1-color);
    width: 150%;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.employees {
    display: grid;
    grid-template-columns: 8.5rem 8.5rem 8.5rem;
    grid-template-rows: 2rem 8rem 4rem;
    box-sizing: border-box;
    width: 47%;
    height: 20rem;
    position: absolute;
    right: 0rem;
    background-color: var(--accent2-color);
    justify-content: center;
    justify-items: center;
}

.employees h2 {
    display: grid;
    grid-column: 1 / -1;
    background-color: var(--accent1-color);
    width: 110%;
    justify-content: center;
    justify-items: center;
}

.employees p {
    text-align: center;
    height: 4.3rem;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-rows: auto;
}

.employees image {
    border: 3rem;
    border-color: var(--accent1-color);
}

.form {
    position: absolute;
    bottom: -25rem;
    justify-content: center;
    width: 93%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: var(--accent2-color);

}

.form legend {
    text-align: center;
    color: var(--accent2-color);
}

.radio {
    padding: 0.5rem;
}

.text1 {
    padding: 0.5rem;
}

.message {
    padding: 0.5rem;
}

.checkbox {
    padding: 0.5rem;
}

.button {
    padding: 0.5rem;
}